/*Página 76: substituição de ícones por fontes*/
@font-face {
    font-family: 'IconicFill';
    src: url('iconic_fill.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

.icon-next::after {
    content: '\2192';
    font-family: 'IconicFill';
    margin-left: 10px;
}

/*Página 77*/
h1.icon-next {
    color: blue;
}

/*Página 78*/
.icon-ok:before {
    content: "\2714";
    font-family: 'InconiFill';
    margin-right: 10px;
}

.icon-invalid {
    color: #990000;
}

.icon-invalid:before {
    content: '\2718';
    font-family: 'IconicFill';
    margin-right: 10px;
}

/*Página 73: uso do border-radius*/
.tnt {
    border-radius: 50%;
    border: 5px solid #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

/*Página 80*/
.counter {
    background-color: #000;
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    color: white;
    display: block;
    font-size: 1.7em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

/*Página 81: criando um ícone em forma de nuvem.*/
div {
    background-color: #000;
    width: 50px;
    height: 10px;
    padding: 20px 50px;
}

.cloud {
    background-color: #FFF;
    border-radius: 48px;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 48px;
}

.cloud::before {
    background-color: #FFF;
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}

.cloud::before, .cloud::after {
    background-color: #FFF;
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}

.cloud::after {
    background-color: #FFF;
    height: 23px;
    left: 7px;
    right: auto;
    top: -10px;
    width: 23px;
}